<div class="chat-container"data-controller="chatroom-subscription"
      data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
      data-chatroom-subscription-current-user-id-value="<%= current_user.id %>">
  <div class="messages-container" data-chatroom-subscription-target="messages">
    <div class="messages-banner">
      <div class="d-flex justify-content-start px-4 py-4">
      <%=link_to "â†", garages_path, class:"btn btn-primary rounded-4 text-white mt-4 mr-4" %>
      <h1><%= @garage.name %></h1>
      </div>
    </div>
    <% @chatroom.messages.each do |message| %>
      <div class="message-container">
        <div class="message <%= (message.user_id == current_user.id) ? 'left' : 'right' %>">
            <%= render "messages/message", class: "content", message: message %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="form-container mb-20"> <%= simple_form_for [@chatroom, @message],
        html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f| %>
        <%= f.input :content,
          label: false,
          placeholder: "Message #{@garage.name}",
          wrapper_html: {class: "flex-grow-1"}
        %>

        <%= f.submit "Send", class: "button-chat" %>
        <% end %>
    </div>
</div>
