<%# <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%# <%= image_tag "https://res.cloudinary.com/dapgryo75/image/upload/v1669877012/car_wttlxi.png" %>
    <%# <% end %>

    <%# <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> %>
      <%# <span class="navbar-toggler-icon"></span> %>
    <%# </button> %>

    <%# <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        if user_signed_in?
          <li class="nav-item active">
            <button type="button" class="btn btn-primary, color: white;"><%=link_to "My Vehicles", cars_path(@cars)</button> %>
          <%# </li>
          <li class="nav-item active">
            <button type="button" class="btn btn-primary, color: white;"><%=link_to "Find A Garage", garages_path(@garages)</button> %>
          <%# </li>  %>
          <%# <li class="nav-item">
            <%= link_to "Messages", "#", class: "nav-link" %>
          <%# </li>  %>
          <%# <li class="nav-item active">
            <button class="btn btn-primary, color: white;"><%=link_to "Log Out", root_path(@root)</button> %>
          <%# </li> %>
          <%# <li class="nav-item dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <%# <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%# <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%# <%= link_to "Log out", "#", class: "dropdown-item", data: {turbo_method: :delete} %>
             <%# </div> %>
           <%# </li>   %>
         <%# else %>
           <!--li class="nav-item"-->
            <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
            <!--/li-->
       <%# end %>
     <%# </ul>
#     </div>
#   </div>
# </div> %>


<%# !TAILWIND NAVBAR CODE BELOW! %>

<nav class="bg-gray-800" data-controller="dropdown">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->
        <button type="button" data-action="dropdown#toggle click@window->dropdown#hide" class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <!--
            Icon when menu is closed.

            Heroicon name: outline/bars-3

            Menu open: "hidden", Menu closed: "block"
          -->
          <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          <!--
            Icon when menu is open.

            Heroicon name: outline/x-mark

            Menu open: "block", Menu closed: "hidden"
          -->
          <%# <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg> %>
        </button>
      </div>
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex flex-shrink-0 items-center">
          <a href="<%= cars_path(@cars) %>"aria-current="page" >
            <img class="block h-8 w-auto lg:hidden" src="https://res.cloudinary.com/dapgryo75/image/upload/v1669877012/car_wttlxi.png" alt="Servo Mate">
            <img class="hidden h-8 w-auto lg:block" src="https://res.cloudinary.com/dapgryo75/image/upload/v1669877012/car_wttlxi.png" alt="Servo Mate">
          </a>
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a href="#" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium" aria-current="page">Home</a>

            <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Servo Team</a>

            <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">About Us</a>

            <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">FAQs</a>
          </div>
        </div>
      </div>
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <button type="button" class="rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
          <span class="sr-only">View notifications</span>
          <!-- Heroicon name: outline/bell -->
          <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
          </svg>
        </button>

        <!-- Profile dropdown -->
        <% if signed_in?%>
        <div class="relative ml-3" data-controller="dropdown">
          <div>
            <button type="button" data-action="dropdown#toggle click@window->dropdown#hide" class="flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
              <span class="sr-only">Open user menu</span>
              <img class="h-8 w-8 rounded-full" src="https://ca.slack-edge.com/T02NE0241-U044CU2KX38-a98b69116aa3-512" alt="craig">
            </button>
          </div>
          <% else %>
          <div class="relative ml-3" data-controller="dropdown">
          <div>
            <button type="button" data-action="dropdown#toggle click@window->dropdown#hide" class="flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
              <span class="sr-only">Open user menu</span>
              <img class="h-8 w-8 rounded-full" src="https://res.cloudinary.com/dapgryo75/image/upload/v1670307265/user_hb6vte.png" alt="craig">
            </button>
          </div>
          <% end %>

          <!--
            Dropdown menu, show/hide based on menu state.

            Entering: "transition ease-out duration-100"
              From: "transform opacity-0 scale-95"
              To: "transform opacity-100 scale-100"
            Leaving: "transition ease-in duration-75"
              From: "transform opacity-100 scale-100"
              To: "transform opacity-0 scale-95"
          -->
          <div
                data-dropdown-target="menu"
                data-transition-enter-from="opacity-0 scale-95"
                data-transition-enter-to="opacity-100 scale-100"
                data-transition-leave-from="opacity-100 scale-100"
                data-transition-leave-to="opacity-0 scale-95"
                class="hidden transition transform origin-top-right absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
            <% if user_signed_in? %>
            <!-- Active: "bg-gray-100", Not Active: "" -->
                <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100 hover:text-gray-900 no-underline", role: "menuitem", tabindex: "-1", id: "user-menu-item-2" %>
            <% else %>
                <%= button_to "Signed in", new_user_session_path, method: :delete, class: "text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100 hover:text-gray-900 no-underline", role: "menuitem", tabindex: "-1", id: "user-menu-item-2" %>
            <% end %>



            <%# <a href="<%= root_path(@root) %>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div data-dropdown-target="menu"
        data-transition-enter-from="opacity-0 scale-95"
        data-transition-enter-to="opacity-100 scale-100"
        data-transition-leave-from="opacity-100 scale-100"
        data-transition-leave-to="opacity-0 scale-95"
        class="hidden transition transform origin-top-left absolute left-0 z-10 mt-2 w-48 origin-top-left rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
        <%# class="hidden transition transform origin-top duration-500"
        id="mobile-menu"> %>
    <div class="space-y-1 px-2 pt-2 pb-3">
      <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
      <a href="<%= cars_path(@cars) %>" class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100 hover:text-gray-900 no-underline" role="menuitem" tabindex="-1" id="user-menu-item-0"> Dashboard </a>
      <a href="<%= garages_path(@garages)%> " class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100 hover:text-gray-900 no-underline" role="menuitem" tabindex="-1" id="user-menu-item-1"> Find A Garage </a>


      <%# <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium no-underline">Servo Team</a>

      <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium no-underline">About Us</a>

      <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium no-underline">FAQ's</a> %>
    </div>
  </div>
</nav>
