<div class="container md">
  <h1>New Service History</h1>

  <%= simple_form_for [@car, @service_history] do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.input :service_date, as: :date %>
      <%= f.input :description %>
      <%= f.input :image, as: :file %>
    </div>

    <div class="form-actions">
      <%= f.submit class:"btn btn-primary"%>
    </div>

  <%end%>
    <div><%= link_to "Back to Service History",  car_service_histories_path(@car), class:"btn btn-primary" %></div>
</div>
