<div class="flex flex-col">
  <div class="flex-wrap">

    <div class="row justify-content-between">
        <div class="col-4">
          <h3 class="mb-4"> My Vehicles</h3>
        </div>
          <div class="col-4 d-flex justify-content-end">
            <%= link_to "Add Vehicle", new_car_path, class:"btn btn-primary add-list btn-md mb-10" %>
          </div>
    </div>
    <hr size="2px" width="100%" color="gray">

    <div id="cars" class="row display-flex flex-wrap-wrap">
      <% @cars.each do |car| %>
        <div class="col-md-4 mt-1">
          <div class="container mx-auto vehicle-card max-w-sm bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
                <div class="p-5 space-y-4">
                  <%= cl_image_tag car.image.key, crop: :fill, class:"rounded-t-lg" if car.image.attached? %>
                  <h5 class="card-title mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><%= car.make %></h5>
                  <p class="card-description mb-3 font-normal text-gray-700 dark:text-gray-400"><%= car.model %> <%= car.year %></p>
                  <p class="card-caption"> <%= car.kilometers %> Kms </p>
                    <div class="flex flex-row">
                      <button type="button" ><%= link_to "Status", car, class:"text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %> </button>
                      <button type="button"><%=link_to "Service History", car_service_histories_path(car), class:"py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"%> </button>
                      <button type="button"><%=link_to "Add Service History", new_car_service_history_path(car), class:"btn btn-primary mb-2" %> </button>
                    </div>
                </div>
              </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
