<div>
  <div class="container-max-width" style="background-color: #e4e4e4; padding: 6%;">
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="m-0" style="color: black;"> My Vehicles</h2>
        <a class="btn btn-light text-grey border-radius 5px;" style=" border-radius: 5px; background-color: #249af5;"href="/cars/new"><h2 class="m-0" style=" color: white;">+</h2></a>
    </div>
  </div>
</div>
<div class="container-max-width m-8">
  <div class="align-content-between flex-wrap">

    <%# <hr size="2px" width="100%" color="gray"> %>

    <div id="cars" class="row display-flex flex-wrap-wrap mt-2">
      <% @cars.each do |car| %>
        <div class="col-md-4 mt-1">
          <div class="container-fluid">
              <div class="card border border-2 p-4 bg-white rounded-4 shadow p-3 mb-2 rounded">
                <%= cl_image_tag car.image.key, crop: :fill, class:"rounded-4 mb-2" if car.image.attached? %>
                <h5 class="card-title fs-3 fw-bold "><%= car.make %> <%= car.model %></h5>
                <h6 class="card-description fs-5 fw-normal text-muted"> <%= car.year %></h6>
                <p class="card-caption fs-6 fw-bolder "> <%= car.kilometers %> Kms </p>
                    <%= link_to "Status", car, class:"btn btn-primary mb-2 text-white rounded"%>
                    <%=link_to "Add Service History", new_car_service_history_path(car), class:"btn btn-secondary mb-2 rounded" %>
                    <%=link_to "Service History", car_service_histories_path(car), class:"btn btn-link mb-2 rounded"%>
              </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
