<h2>Servo-Mate</h2>

<%# <h1 class="mb-4 mt-4 d-flex justify-content-start">Listings</h1> %>

  <hr size="2px" width="100%" color="gray">
    <div class="row justify-content-between">
        <div class="col-4">
          <h3 class="mb-4"> My Vehicles</h3>
        </div>
          <div class="col-4 d-flex justify-content-end">
            <%= link_to "Add Vehicle", new_car_path, class:"btn btn-primary add-list btn-md mb-4" %>
          </div>
    </div>

    <div id="cars" class="row display-flex flex-wrap-wrap">
      <% @cars.each do |car| %>
        <div class="col-md-4 mt-1">
          <div class="card">
                <div class="card-body">
                  <h4 class="card-title"><strong><%= car.make %></strong></h4>
                  <h6 class="card-subtitle mb-2 text-muted"><%= car.model %></h6>
                  <h6 class="card-subtitle mb-2 text-muted"><%= car.year %></h6>
                  <p class="card-text"> <strong><%= car.kilometers %>Kms</strong></p>
                  <%= link_to  "Satus", car, class:"btn btn-primary" %>
                </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<%#
<h2>Car show</h2>
  <div>
  <%# Car show page is our dashnboard where users come to view,update cars and navigate to other sections of the page %>

  <%# Nav bar goes here  %>

  <%# Title of Dashboard  %>
  <%# <div class="container">
    <h1>Dashboard </h1> %>

    <%# Is there a way to grab username when they sign in.  %>
    <%# <h2>Welcome back John</h2>
    <p>What would like to today?</p>
    <button> View Service History</button>
    <button>Make a booking</button> %>

    <%# Car information  %>

    <%# Car cards %>
    <%# <div class="container">
      <h3>Your Cars</h3>
      <ul class="cards">
        <li class="card">
          <h3 class="card-title">Car Make</h3>
          <div class="card-content">
            <p>Car Model</p>
            <p>Build year</p>
            <p>Kms of car</p>
          </div>
          <div>
            <button class="card-link-wrapper">View Car</button>
            <a href="#" class="card-link">Service History</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div> %>
